<div class="container">
  <div class="row d-row-table">
    <div class="col-sm-8">
      <div class="col-12 d-title">
        <h2>Proyección y Analisis de Cliente: </h2>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha probable de muerte</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of listClientDead">
            <td>{{client.name}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.dead | date: "dd-MM-yyyy"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-buttom-custom">
    <button type="submit" class="btn btn-danger" (click)="back()">
      Volver
    </button>
  </div>
</div>
