.d-title {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
}

.d-row-table {
    display: flex;
    justify-content: center;
}
.d-p {
    margin-left: 100px;
}

.d-buttom-custom {
    display: flex;
    justify-content: center;
}