/* You can add global styles to this file, and also import other style files */

body {
    background: #fff;
    background: -webkit-linear-gradient(left, #fff, #fff);
    background: -moz-linear-gradient(left, #fff, #fff);
    background: -o-linear-gradient(left, #fff, #fff);
    background: linear-gradient(to right,#fff, #fff);
}