<div class="container">
  <div class="row d-row-table">
    <div class="col-sm-8">
     <div class="col-12 d-title">
      <h2>Lista de Clientes: </h2>
      <a [routerLink]="'/clients'" class="btn btn-success mr-2">
        Registrar Cliente
      </a>
     </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Fecha de nacimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of listClients; let i = index">
            <td>{{client.name}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.age}}</td>
            <td>{{client.date}}</td>
            <td>
              <!-- <a [routerLink]="'/clients'" class="btn btn-success mr-2">
                Crear
              </a> -->
              <!-- <a (click)="editEmployee(i)" class="btn btn-success mr-2">
                                Edit
                            </a> -->
              <!-- <a (click)="deleteEmployee(i)" class="btn btn-danger">
                                Delete
                            </a> -->
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row text-center">
    <label>Promedio edades:</label>
    {{average}}
  </div>
  <div class="row">
    <label>Desvición estandar de edades:</label>
    {{resultado}}
  </div>
</div>
