.d-custom-space {
  margin-top: 2px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 5px;
}

.container-error-message {
  padding: 3px;
}

@media (min-width: 780px) {
  .d-custom-space {
    display: flex;
    margin-top: 10px;
  }

  .d-label-custom {
    margin-right: 34px;
    font-size: 16px;
  }
}
